<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding" [fullscreen]="true" color="background">
  <section class="flex flex-col justify-center h-full px-4 py-20">
    <header>
      <ion-img src="../../assets/img/digimon_logo.png"></ion-img>
      <h1 class="mt-5 text-3xl font-bold text-center">Inicio de sesión</h1>
    </header>
    <div class="mt-4">
      <form [formGroup]="loginForm" class="flex flex-col mt-10">
        <ion-input
          label="Correo"
          labelPlacement="floating"
          placeholder="Ingresa tu correo"
          formControlName="email"
          [errorText]="getErrorMessage('email')"
        >
          <ion-icon slot="end" name="person-outline"></ion-icon>
        </ion-input>

        <ion-input
          label="Contraseña"
          labelPlacement="floating"
          placeholder="Ingresa tu contraseña"
          formControlName="password"
          [errorText]="getErrorMessage('password')"
          type="password"
        >
          <ion-icon slot="end" name="key-outline"></ion-icon>
        </ion-input>
      </form>

      <ion-button
        class="mt-8"
        shape="round"
        [disabled]="loginForm.invalid || isLoading"
        expand="full"
        (click)="login()"
      >
        @if (isLoading) {
          <ion-spinner class="w-5 h-5" name="crescent"></ion-spinner>
        } @else {
          <span>Ingresar</span>
        }
      </ion-button>
      <div class="w-full text-center">o</div>

      <ion-button
        expand="full"
        shape="round"
        routerLink="/register"
        fill="outline"
      >
        Registrarse
      </ion-button>
    </div>
  </section>
</ion-content>
