<ion-content class="ion-padding" [fullscreen]="true" color="background">
  <section class="flex flex-col justify-center h-full px-4 py-20">
    <header>
      <ion-img src="../../assets/img/digimon.png"></ion-img>
      <h1 class="mt-5 text-3xl font-bold text-center">Crea tu usuario</h1>
    </header>
    <div class="my-4">
      <form [formGroup]="registerForm" (keyup.enter)="register()">
        <ion-input
          label="Nombre"
          labelPlacement="floating"
          placeholder="Ingresa tu nombre"
          formControlName="name"
          [errorText]="getErrorMessage('name')"
        ></ion-input>

        <ion-input
          label="Correo"
          labelPlacement="floating"
          placeholder="Ingresa tu correo"
          formControlName="email"
          [errorText]="getErrorMessage('email')"
          type="email"
        ></ion-input>

        <ion-input
          label="Contraseña"
          labelPlacement="floating"
          placeholder="Ingresa tu contraseña"
          formControlName="password"
          [errorText]="getErrorMessage('password')"
          type="password"
        ></ion-input>

        <br />
        <ion-button
          expand="full"
          shape="round"
          [disabled]="registerForm.invalid || isLoading"
          (click)="register()"
          color="success"
        >
          @if (isLoading) {
            <ion-spinner class="w-5 h-5" name="crescent"></ion-spinner>
          } @else {
            <span>Registrarse</span>
          }
        </ion-button>
      </form>
      <div class="w-full text-center">o</div>

      <ion-button
        expand="full"
        shape="round"
        routerLink="/login"
        color="success"
        fill="outline"
      >
        Inicia sesión
      </ion-button>
    </div>
  </section>
</ion-content>
